
div.logo img{
    height: 60px;
    margin-top: 60px;
    display: inline-block;
    margin-right: 10px;
}

.logo a img{
    height: 60px;
    margin-top: 60px;
    display: inline-block;
    margin-right: 10px;
}


.reveal{
	font-size: 230%;
}


.prompt {
    display: none;
}

/**
.inner_cell .input_area .highlight pre span{
    font-size:150%;
    line-height: 1.2;
}
*/

.inner_cell .input_area .highlight pre span {
    font-size:150%;
    line-height: 1.2;
}



div.text_cell_render.border-box-sizing.rendered_html span#authors{
	color: gray;
	font-size: 130%;
}


//Copied from:  http://slideviewer.herokuapp.com/github/ellisonbg/talk-scipy2013/blob/master/FeaturesAndScope.ipynb#/43

.rendered_html {
    font-family: "proxima-nova", helvetica;
    font-size: 150%;
    line-height: 1.3;
}

.rendered_html h1 {
    margin: 0.25em 0em 0.5em;
    color: #015C9C;
    text-align: center;
    line-height: 1.2; 
    page-break-before: always;
}

.rendered_html h2 {
    margin: 1.1em 0em 0.5em;
    color: #26465D;
    line-height: 1.2;
}

.rendered_html h3 {
    margin: 1.1em 0em 0.5em;
    color: #002845;
    line-height: 1.2;
}

.rendered_html li {
    line-height: 1.5; 
}

.CodeMirror-lines {
    font-size: 120%; 
}

.output_area {
    font-size: 120%; 
}



h1.bigtitle {
    margin: 4cm 1cm 4cm 1cm;
    font-size: 300%;
}

h3.point {
    font-size: 200%;
    text-align: center;
    margin: 2em 0em 2em 0em;
    #26465D
}

.logo {
    margin: 20px 0 20px 0;
}

a.anchor-link {
    display: none;
}

h1.title { 
    font-size: 250%;
}

